{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <nav>
            <div>
                <h1><strong>Accueil</strong></h1>
            </div>
            <br>
            <a href="{{ path('app_user', { id : app.user.id }) }}">Profil Utilisateur</a>
            <br>
            <a href="">Sorties Organisées</a>

        </nav>
    </header>




{% endblock %}
