{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <br>
    <h1>Création d'évènement</h1>

    <br>
    <div>
        {{ form(sortie_form) }}
    </div>


{% endblock %}