{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../assets/css/style.css">
{% endblock %}

{% block body %}

    <h1>Profil</h1>

<div class = "row justify-content-center">
    <div class = "col-6">
       {{ form(user_form) }}

    </div>
</div>
    {% if isModified == true %}
        <button type="submit" class="btn"> Enregistrer </button>
    {% endif %}

    {% if isModified == false %}
        <button type="submit" class="btn">Modifier</button>
    {% endif %}

{% endblock %}
